src/main/mule/httprequestpoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0cbc3378-2fe4-46db-b4e9-28ffa5c6ec3f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="httprequestpocFlow" doc:id="c18f2ae3-8a8c-4ce1-bdc6-53cfec48c7f0" >
		<http:listener doc:name="Listener" doc:id="500260a8-9351-4fb3-a380-04d12b0d9b6d" config-ref="HTTP_Listener_config" path="workpath"/>
		<logger level="INFO" doc:name="Logger" doc:id="3cd46271-051e-4740-b59c-9c3a8576336e" message="start flow"/>
		<http:request method="GET" doc:name="Request" doc:id="8b632353-8044-4b91-8e90-9e00225d0e2d" url="https://reqres.in/api/users/2"/>
		<ee:transform doc:name="Transform Message" doc:id="9c8884e8-ecc3-4aac-8b0e-478f7e25b3dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "ID" : payload.data.id,
  "Name" : payload.data.first_name ++ " " ++ payload.data.last_name
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1ec0e2e2-fdc5-47e2-b611-fef10132389c" message="end flow"/>
	</flow>
</mule>
